@import 'partials';

// global styles
body {
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;

  background: linear-gradient(to right, #002fe0, #2143d6, #0052d4);
}

#list {
  max-width: 50%;
  margin: auto;
}

.btn {
  font-size: 2rem;
  height: auto;
  width: auto;
  border-radius: 5px;
}



#whocontainer{
  max-width: 500px;
}


#whocontainer div {
  border-radius: 10px;
  overflow: hidden;
}

#whocontainer img {
  flex: 1 0 auto;
}

.blur2 {
  filter: blur(20px);
}