* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h0 {
  height: 0%;
}

.h10 {
  height: 10%;
}

.h20 {
  height: 20%;
}

.h30 {
  height: 30%;
}

.h40 {
  height: 40%;
}

.h50 {
  height: 50%;
}

.h60 {
  height: 60%;
}

.h70 {
  height: 70%;
}

.h80 {
  height: 80%;
}

.h90 {
  height: 90%;
}

.h100 {
  height: 100%;
}

.vh100 {
  height: 100vh;
}

.w0 {
  width: 0%;
}

.w10 {
  width: 10%;
}

.w20 {
  width: 20%;
}

.w30 {
  width: 30%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

.mw0 {
  max-width: 0%;
}

.mw10 {
  max-width: 10%;
}

.mw20 {
  max-width: 20%;
}

.mw30 {
  max-width: 30%;
}

.mw40 {
  max-width: 40%;
}

.mw50 {
  max-width: 50%;
}

.mw60 {
  max-width: 60%;
}

.mw70 {
  max-width: 70%;
}

.mw80 {
  max-width: 80%;
}

.mw90 {
  max-width: 90%;
}

.mw100 {
  max-width: 100%;
}

.mh0 {
  max-height: 0%;
}

.mh10 {
  max-height: 10%;
}

.mh20 {
  max-height: 20%;
}

.mh30 {
  max-height: 30%;
}

.mh40 {
  max-height: 40%;
}

.mh50 {
  max-height: 50%;
}

.mh60 {
  max-height: 60%;
}

.mh70 {
  max-height: 70%;
}

.mh80 {
  max-height: 80%;
}

.mh90 {
  max-height: 90%;
}

.mh100 {
  max-height: 100%;
}

.block {
  display: block;
}

.inblock {
  display: inline-block;
}

.inline {
  display: inline;
}

.mxauto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}
.flex-r {
  display: flex;
  flex-direction: row;
}
.flex-r-nw {
  display: flex;
  flex-flow: row nowrap;
}
.flex-r-w {
  display: flex;
  flex-flow: row wrap;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
.flex-c-nw {
  display: flex;
  flex-flow: column nowrap;
}
.flex-c-w {
  display: flex;
  flex-flow: column wrap;
}

.fjc-start {
  justify-content: flex-start;
}
.fjc-center {
  justify-content: center;
}
.fjc-end {
  justify-content: flex-end;
}
.fjc-stretch {
  justify-content: stretch;
}
.fjc-spacebetween {
  justify-content: space-between;
}
.fjc-spacearound {
  justify-content: space-around;
}

.fac-start {
  align-content: flex-start;
}
.fac-center {
  align-content: center;
}
.fac-end {
  align-content: flex-end;
}
.fac-stretch {
  align-content: stretch;
}
.fac-spacebetween {
  align-content: space-between;
}
.fac-spacearound {
  align-content: space-around;
}

.fai-start {
  align-items: flex-start;
}
.fai-center {
  align-items: center;
}
.fai-end {
  align-items: flex-end;
}
.fai-stretch {
  align-items: stretch;
}
.fai-spacebetween {
  align-items: space-between;
}
.fai-spacearound {
  align-items: space-around;
}

.dnone {
  display: none;
}

body {
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, #002fe0, #2143d6, #0052d4);
}

#list {
  max-width: 50%;
  margin: auto;
}

.btn {
  font-size: 2rem;
  height: auto;
  width: auto;
  border-radius: 5px;
}

#whocontainer {
  max-width: 500px;
}

#whocontainer div {
  border-radius: 10px;
  overflow: hidden;
}

#whocontainer img {
  flex: 1 0 auto;
}

.blur3 {
  filter: blur(30px);
}

.blur2 {
  filter: blur(20px);
}

.blur1 {
  filter: blur(10px);
}

.blurtrans {
  transition: filter 0.3s linear;
}

/*# sourceMappingURL=home.css.map */
